<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DecoraCsycles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DataFolder" value="DecoraCycles" />
    <add key="TempFolder" value="DecoraCycles" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <DecoraCsycles.Properties.Settings>
      <setting name="Translate" serializeAs="String">
        <value />
      </setting>
      <setting name="Rotate" serializeAs="String">
        <value />
      </setting>
      <setting name="FixedView" serializeAs="String">
        <value>0.8453702f, -0.01766679f, 0.5338884f, 6.543896f, -0.02637207f, -0.9996144f, 0.008680073f, -65.50546f, 0.5335293f, -0.02141762f, -0.8455103f, 46.41003f, 0f, 0f, 0f, 1f</value>
      </setting>
    </DecoraCsycles.Properties.Settings>
  </userSettings>
</configuration>